<!-- We can build something in here -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather Checking</title>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href='%%PREV_PAGE%%'><button>Previous Entry</button></a>
    <a href='%%NEXT_PAGE%%'><button>Next Entry</button></a>
    <div class="grid-container show-for-large">
        <!-- `grid-x` represents a row -->
        <div class="grid-x grid-padding-x">
            <div class="cell small-4 large-4" style="background-color: #1a92c9;"><a href="/weatherbyage/0">Age</a></div>
            <div class="cell small-4 large-4" style="background-color: #1a92c9;"><a href="/weatherbyincome/0">Income</a></div>
            <div class="cell small-4 large-4" style="background-color: #1a92c9;"><a href="/weatherbyservices/A">Services</a></div>
        </div>
    </div>

    <!--
    <div class="rangeslider">
        <input type="range" min="1" max="100" value="10"
            class="myslider" id="sliderRange">
    </div>
    -->
    <div class="grid-container">
        <div id="content">
            <img id="age_img" src="%%AGE_IMAGE%%" alt="%%AGE_ALT_TEXT%%" />
            <h1 class = "center">%%AGE%%</h1>
            <div class="clear"></div>
            <table>
                <thead>
                    <tr>
                        <!--<th class="age_title">Sort by Age</th>-->
                        <th>What is your current weather service?</th>
                        <th>Specific app</th>
                        <th>How often would you check the weather if you had a smart watch</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Income</th>
                        <th>Region</th>

                    </tr>
                </thead>
                <tbody>
                    %%WEATHER_INFO%%
                </tbody>
            </table>
        </div>
    </div>
    <!-- include before closing </body> tag -->
    <script src="/js/vendor.js"></script>
    <script src="/js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>


